In [5]:
from keras.layers import Dense, Dropout
from keras.layers import Dense, Activation
from keras.models import Sequential
import numpy as np
import pandas as pd
import mysql.connector

import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
con = mysql.connector.connect(
    host='192.168.10.125', database='stocktips_prod', user='alpha', password='alpha')

In [7]:
def get_all_data(product):
    cur = con.cursor()
    cur.execute(
        "select cls from products p, closing_prices c where p.id = c.product_id and p.name = '{0}' order by dt".format(product))
    rows = cur.fetchall()
    return [i[0] for i in rows]

In [17]:
rows = get_all_data("NFLX")
df = pd.DataFrame()
df.insert(0, 0, rows)
df.insert(1, 1, rows)
df[1] = df[1].shift(1)
df[1][0] = 0.0

rows = get_all_data("MSFT")
df.insert(0, 2, rows)

df.rename(columns={0: "NFLX", 1: "NFLX-NEXTDAY", 2: "MSFT"}, inplace=True)

In [81]:
df.describe()

              MSFT         NFLX  NFLX-NEXTDAY
count  1257.000000  1257.000000   1257.000000
mean     63.753309   148.663842    148.409316
std      22.124969    98.077047     98.047347
min      35.010000    44.860000      0.000000
25%      46.230000    68.880000     68.770000
50%      55.870000   111.550000    111.400000
75%      76.000000   187.010000    186.820000
max     115.550000   703.000000    703.000000

### Pass it to ludwig!

In [ ]:
from ludwig import LudwigModel

In [1]:
model_definition = {'a': 2, 'b': 3}
ludwig_model = LudwigModel(model_definition)

NameError: name 'LudwigModel' is not defined