In [2]:
import pandas as pd

In [3]:
oo = pd.read_csv("olympics.csv", skiprows=4)

In [4]:
nflx = pd.read_csv("nflx_trades.csv")

In [5]:
nflx

                id symbol             ts   price  size          dt
0        657469545   NFLX  1490908043387  148.16  10.0  2017-03-30
1        657469544   NFLX  1490908033876  148.09   2.0  2017-03-30
2        657469543   NFLX  1490907945582  147.96   1.0  2017-03-30
3        657469542   NFLX  1490907940077  147.97   2.0  2017-03-30
4        657469541   NFLX  1490907927563  148.00  14.0  2017-03-30
5        657469540   NFLX  1490907816459  148.00   2.0  2017-03-30
6        657469539   NFLX  1490907815207  148.00   1.0  2017-03-30
7        657469538   NFLX  1490907606497  148.08   2.0  2017-03-30
8        657469537   NFLX  1490907327151  148.05   4.0  2017-03-30
9        657469536   NFLX  1490906192972  148.10   1.0  2017-03-30
10       657469535   NFLX  1490906189718  148.06   1.0  2017-03-30
11       657469534   NFLX  1490906187965  148.10   1.0  2017-03-30
12       657469533   NFLX  1490905337448  148.10   1.0  2017-03-30
13       657469532   NFLX  1490904692715  147.69   1.0  2017-03-30
14       657469531   NFLX  1490904621251  148.05   2.0  2017-03-30
15       657469530   NFLX  1490904582449  148.06   2.0  2017-03-30
16       657469529   NFLX  1490904578193  148.06   1.0  2017-03-30
17       657469528   NFLX  1490904439975  147.60  21.0  2017-03-30
18       657469527   NFLX  1490904439725  148.07   3.0  2017-03-30
19       657469526   NFLX  1490904431811  148.05   2.0  2017-03-30
20       657469525   NFLX  1490904417445  148.06   8.0  2017-03-30
21       657469524   NFLX  1490904159436  148.07   1.0  2017-03-30
22       657469523   NFLX  1490904017838  148.06   4.0  2017-03-30
23       657469522   NFLX  1490904017087  148.06   4.0  2017-03-30
24       657469521   NFLX  1490904016837  148.06  16.0  2017-03-30
25       657469520   NFLX  1490904016586  148.06  62.0  2017-03-30
26       657469519   NFLX  1490904016336  148.06   4.0  2017-03-30
27       657469518   NFLX  1490904016085  148.06   1.0  2017-03-30
28       657469517   NFLX  1490904014833  148.06  25.0  2017-03-30
29       657469516   NFLX  1490904004462  148.06   3.0  2017-03-30
...            ...    ...            ...     ...   ...         ...
1644063  522790407   NFLX  1465922755201   93.78   2.0  2016-06-14
1644064  522790406   NFLX  1465922754700   93.81   3.0  2016-06-14
1644065  522790405   NFLX  1465922752698   93.80   4.0  2016-06-14
1644066  522790404   NFLX  1465922748686   93.80   3.0  2016-06-14
1644067  522790403   NFLX  1465922748556   93.80  56.0  2016-06-14
1644068  522790402   NFLX  1465922738845   93.83   5.0  2016-06-14
1644069  522790401   NFLX  1465922736320   93.83   2.0  2016-06-14
1644070  522790400   NFLX  1465922736190   93.81   1.0  2016-06-14
1644071  522790399   NFLX  1465922734687   93.80   7.0  2016-06-14
1644072  522790398   NFLX  1465922727833   93.79  15.0  2016-06-14
1644073  522790397   NFLX  1465922725196   93.78   2.0  2016-06-14
1644074  522790396   NFLX  1465922724826   93.77   8.0  2016-06-14
1644075  522790395   NFLX  1465922722191   93.76   6.0  2016-06-14
1644076  522790394   NFLX  1465922721728   93.77   2.0  2016-06-14
1644077  522790393   NFLX  1465922720688   93.78   4.0  2016-06-14
1644078  522790392   NFLX  1465922720316   93.76  38.0  2016-06-14
1644079  522790391   NFLX  1465922701392   93.75   1.0  2016-06-14
1644080  522790390   NFLX  1465922700760   93.75   1.0  2016-06-14
1644081  522790389   NFLX  1465922685405   93.75   1.0  2016-06-14
1644082  522790388   NFLX  1465922680899   93.75   2.0  2016-06-14
1644083  522790387   NFLX  1465922679897   93.77  56.0  2016-06-14
1644084  522790386   NFLX  1465922679026   93.75   1.0  2016-06-14
1644085  522790385   NFLX  1465922678394   93.77   5.0  2016-06-14
1644086  522790384   NFLX  1465922675519   93.78  11.0  2016-06-14
1644087  522790383   NFLX  1465922672511   93.77   2.0  2016-06-14
1644088  522790382   NFLX  1465922669409   93.76   7.0  2016-06-14
1644089  522790381   NFLX  1465922667402   93.75   2.0  2016-06-14
1644090  522790380   NFLX  1465922662627   93.75   2.0  2016-06-14
1644091  522790379   NFLX  1465922657669   93.73  15.0  2016-06-14
1644092  522790378   NFLX  1465922656315   93.70   NaN         NaN

[1644093 rows x 6 columns]

In [ ]:
type(oo[["City","Edition","NOC","Athlete"]])

In [ ]:
type(oo.NOC)

In [ ]:
oo.head()

In [ ]:
oo.shape

In [ ]:
oo.shape[0]

In [ ]:
oo.info()

In [ ]:
oo[("Edition" >= 1984), ("Edition" <= 2008)]

In [ ]:
oo.Gender.value_counts(ascending=True, dropna=False)

In [ ]:
ath = oo.Athlete.sort_values()

In [ ]:
oo.sort_values(by=["Edition","Athlete"])

In [ ]:
oo[(oo.Medal == "Gold") & (oo.Gender == "Women") ]

In [ ]:
oo[oo.Athlete.str.contains("Florence")]

In [ ]:
oo[oo.Athlete.str.contains("OWENS")]

In [ ]:
oo.value_counts(oo)

In [ ]:
ov = oo.Medal.value_counts()

In [ ]:
ov.sort_counts()

In [ ]:
ov = oo[(oo.Medal == "Gold") & (oo.Discipline.str.contains("Badminton")) & (oo.Event == "doubles") ]

In [ ]:
type(ov)

In [7]:
oo.Edition

0        1896
1        1896
2        1896
3        1896
4        1896
5        1896
6        1896
7        1896
8        1896
9        1896
10       1896
11       1896
12       1896
13       1896
14       1896
15       1896
16       1896
17       1896
18       1896
19       1896
20       1896
21       1896
22       1896
23       1896
24       1896
25       1896
26       1896
27       1896
28       1896
29       1896
         ...
29186    2008
29187    2008
29188    2008
29189    2008
29190    2008
29191    2008
29192    2008
29193    2008
29194    2008
29195    2008
29196    2008
29197    2008
29198    2008
29199    2008
29200    2008
29201    2008
29202    2008
29203    2008
29204    2008
29205    2008
29206    2008
29207    2008
29208    2008
29209    2008
29210    2008
29211    2008
29212    2008
29213    2008
29214    2008
29215    2008
Name: Edition, Length: 29216, dtype: int64

In [11]:
ol = oo[oo.Edition >= 1984]

In [12]:
type(ol)

pandas.core.frame.DataFrame

Most Medals between 1984 and 2008

In [16]:
ov = ol.NOC.value_counts()

In [17]:
type (ov)

pandas.core.series.Series

Display the male gold medal winner for the 100m track and field sprint event over the years

In [20]:
jo = oo[oo.Athlete == "OWENS, Jesse"]

In [21]:
jo.Event.value_counts()

4x100m relay    1
long jump       1
200m            1
100m            1
Name: Event, dtype: int64

In [25]:
gbm = oo[(oo.Medal == "Gold") & (oo.Gender == "Men") & (oo.Sport == "Badminton")]

In [26]:
gbm.sort_values(by = "Athlete")

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
20045,Barcelona,1992,Badminton,Badminton,"BUDI KUSUMA, Alan",INA,Men,singles,M,Gold
23701,Sydney,2000,Badminton,Badminton,"GUNAWAN, Tony",INA,Men,doubles,M,Gold
25718,Athens,2004,Badminton,Badminton,"HA, Tae-Kwon",KOR,Men,doubles,M,Gold
25734,Athens,2004,Badminton,Badminton,"HIDAYAT, Taufik",INA,Men,singles,M,Gold
21787,Atlanta,1996,Badminton,Badminton,"HOYER-LARSEN, Poul Erik",DEN,Men,singles,M,Gold
23717,Sydney,2000,Badminton,Badminton,"JI, Xinpeng",CHN,Men,singles,M,Gold
27725,Beijing,2008,Badminton,Badminton,"KIDO, Markis",INA,Men,doubles,M,Gold
25719,Athens,2004,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,M,Gold
21773,Atlanta,1996,Badminton,Badminton,"KIM, Dong Moon",KOR,Men,doubles,X,Gold
20031,Barcelona,1992,Badminton,Badminton,"KIM, Moon-Soo",KOR,Men,doubles,M,Gold
27727,Beijing,2008,Badminton,Badminton,"LEE, Yongdae",KOR,Men,doubles,X,Gold
27741,Beijing,2008,Badminton,Badminton,"LIN, Dan",CHN,Men,singles,M,Gold
21771,Atlanta,1996,Badminton,Badminton,"MAINAKY, Rexy Ronald",INA,Men,doubles,M,Gold
20032,Barcelona,1992,Badminton,Badminton,"PARK, Joo-Bong",KOR,Men,doubles,M,Gold
27726,Beijing,2008,Badminton,Badminton,"SETIAWAN, Hendra",INA,Men,doubles,M,Gold
21772,Atlanta,1996,Badminton,Badminton,"SUBAGJA, Ricky Achmad",INA,Men,doubles,M,Gold
23702,Sydney,2000,Badminton,Badminton,"WIJAYA, Candra",INA,Men,doubles,M,Gold
25720,Athens,2004,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold
23703,Sydney,2000,Badminton,Badminton,"ZHANG, Jun",CHN,Men,doubles,X,Gold

In [28]:
recent = oo[(oo.Edition >= 1984)]

In [29]:
recent.NOC.value_counts().head(3)

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

In [30]:
gmh = oo[(oo.Event == "100m") & (oo.Gender == "Men") & (oo.Medal == "Gold")]

In [33]:
gmhr = gmh.sort_values("Edition", ascending=False)

In [34]:
gmhr[["City","Edition","Athlete","NOC"]]

                        City  Edition                Athlete  NOC
27552                Beijing     2008            BOLT, Usain  JAM
25539                 Athens     2004         GATLIN, Justin  USA
23521                 Sydney     2000        GREENE, Maurice  USA
21598                Atlanta     1996        BAILEY, Donovan  CAN
19859              Barcelona     1992      CHRISTIE, Linford  GBR
18284                  Seoul     1988            LEWIS, Carl  USA
16794            Los Angeles     1984            LEWIS, Carl  USA
15374                 Moscow     1980           WELLS, Allan  GBR
14069               Montreal     1976       CRAWFORD, Hasely  TRI
12902                 Munich     1972         BORZOV, Valery  URS
11865                 Mexico     1968       HINES, James Ray  USA
10823                  Tokyo     1964          HAYES, Robert  USA
9924                    Rome     1960            HARY, Armin  EUA
9009   Melbourne / Stockholm     1956  MORROW, Robert Joseph  USA
8121                Helsinki     1952        REMIGINO, Lindy  USA
7302                  London     1948      DILLARD, Harrison  USA
6427                  Berlin     1936           OWENS, Jesse  USA
5806             Los Angeles     1932           TOLAN, Eddie  USA
5095               Amsterdam     1928        WILLIAMS, Percy  CAN
4236                   Paris     1924       ABRAHAMS, Harold  GBR
2996                 Antwerp     1920       PADDOCK, Charles  USA
2022               Stockholm     1912           CRAIG, Ralph  USA
1191                  London     1908       WALKER, Reginald  RSA
737                 St Louis     1904           HAHN, Archie  USA
231                    Paris     1900        JARVIS, Francis  USA
13                    Athens     1896          BURKE, Thomas  USA

In [35]:
lo = oo[oo.Edition == 2008]

In [36]:
lo

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27174,Beijing,2008,Aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,Bronze
27175,Beijing,2008,Aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,Gold
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
27177,Beijing,2008,Aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,Bronze
27178,Beijing,2008,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,Gold
27179,Beijing,2008,Aquatics,Diving,"HEYMANS, Emilie",CAN,Women,10m platform,W,Silver
27180,Beijing,2008,Aquatics,Diving,"QIN, Kai",CHN,Men,3m springboard,M,Bronze
27181,Beijing,2008,Aquatics,Diving,"HE, Chong",CHN,Men,3m springboard,M,Gold
27182,Beijing,2008,Aquatics,Diving,"DESPATIE, Alexandre",CAN,Men,3m springboard,M,Silver
27183,Beijing,2008,Aquatics,Diving,"WU, Minxia",CHN,Women,3m springboard,W,Bronze
27184,Beijing,2008,Aquatics,Diving,"GUO, Jingjing",CHN,Women,3m springboard,W,Gold
27185,Beijing,2008,Aquatics,Diving,"PAKHALINA, Julia",RUS,Women,3m springboard,W,Silver
27186,Beijing,2008,Aquatics,Diving,"DOBROSKOK, Dmitriy",RUS,Men,synchronized diving 10m platform,M,Bronze
27187,Beijing,2008,Aquatics,Diving,"GALPERIN, Gleb",RUS,Men,synchronized diving 10m platform,M,Bronze
27188,Beijing,2008,Aquatics,Diving,"HUO, Liang",CHN,Men,synchronized diving 10m platform,M,Gold
27189,Beijing,2008,Aquatics,Diving,"LIN, Yue",CHN,Men,synchronized diving 10m platform,M,Gold
27190,Beijing,2008,Aquatics,Diving,"HAUSDING, Patrick",GER,Men,synchronized diving 10m platform,M,Silver
27191,Beijing,2008,Aquatics,Diving,"KLEIN, Sascha",GER,Men,synchronized diving 10m platform,M,Silver
27192,Beijing,2008,Aquatics,Diving,"ESPINOSA, Paola",MEX,Women,synchronized diving 10m platform,W,Bronze
27193,Beijing,2008,Aquatics,Diving,"ORTIZ, Tatiana",MEX,Women,synchronized diving 10m platform,W,Bronze
27194,Beijing,2008,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,synchronized diving 10m platform,W,Gold
27195,Beijing,2008,Aquatics,Diving,"WANG, Xin",CHN,Women,synchronized diving 10m platform,W,Gold
27196,Beijing,2008,Aquatics,Diving,"COLE, Briony",AUS,Women,synchronized diving 10m platform,W,Silver
27197,Beijing,2008,Aquatics,Diving,"WU, Melissa",AUS,Women,synchronized diving 10m platform,W,Silver
27198,Beijing,2008,Aquatics,Diving,"KVASHA, Illya",UKR,Men,synchronized diving 3m springboard,M,Bronze
27199,Beijing,2008,Aquatics,Diving,"PRYGOROV, Oleksiy",UKR,Men,synchronized diving 3m springboard,M,Bronze
27200,Beijing,2008,Aquatics,Diving,"QIN, Kai",CHN,Men,synchronized diving 3m springboard,M,Gold
27201,Beijing,2008,Aquatics,Diving,"WANG, Feng",CHN,Men,synchronized diving 3m springboard,M,Gold
27202,Beijing,2008,Aquatics,Diving,"KUNAKOV, Yuriy",RUS,Men,synchronized diving 3m springboard,M,Silver
27203,Beijing,2008,Aquatics,Diving,"SAUTIN, Dmitry",RUS,Men,synchronized diving 3m springboard,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29186,Beijing,2008,Wrestling,Wrestling Free.,"MUTALIMOV, Marid",KAZ,Men,96 - 120kg,M,Bronze
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29188,Beijing,2008,Wrestling,Wrestling Free.,"AKHMEDOV, Bakhtiyar",RUS,Men,96 - 120kg,M,Silver
29189,Beijing,2008,Wrestling,Wrestling Gre-R,"AMOYAN, Roman",ARM,Men,- 55kg,M,Bronze
29190,Beijing,2008,Wrestling,Wrestling Gre-R,"PARK, Eun-Chul",KOR,Men,- 55kg,M,Bronze
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29192,Beijing,2008,Wrestling,Wrestling Gre-R,"BAYRAMOV, Rovshan",AZE,Men,- 55kg,M,Silver
29193,Beijing,2008,Wrestling,Wrestling Gre-R,"TENGIZBAYEV, Nurbakyt",KAZ,Men,55 - 60kg,M,Bronze
29194,Beijing,2008,Wrestling,Wrestling Gre-R,"TIUMENBAEV, Ruslan",KGZ,Men,55 - 60kg,M,Bronze
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29196,Beijing,2008,Wrestling,Wrestling Gre-R,"RAHIMOV, Vitaliy",AZE,Men,55 - 60kg,M,Silver
29197,Beijing,2008,Wrestling,Wrestling Gre-R,"SIAMIONAU, Mikhail",BLR,Men,60 - 66kg,M,Bronze
29198,Beijing,2008,Wrestling,Wrestling Gre-R,"VARDANYAN, Armen",UKR,Men,60 - 66kg,M,Bronze
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29200,Beijing,2008,Wrestling,Wrestling Gre-R,"BEGALIEV, Kanatbek",KGZ,Men,60 - 66kg,M,Silver
29201,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Christophe",FRA,Men,66 - 74kg,M,Bronze
29202,Beijing,2008,Wrestling,Wrestling Gre-R,"YANAKIEV, Yavor",BUL,Men,66 - 74kg,M,Bronze
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29204,Beijing,2008,Wrestling,Wrestling Gre-R,"CHANG, Yongxiang",CHN,Men,66 - 74kg,M,Silver
29205,Beijing,2008,Wrestling,Wrestling Gre-R,"AVLUCA, Nazmi",TUR,Men,74 - 84kg,M,Bronze
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29207,Beijing,2008,Wrestling,Wrestling Gre-R,"FODOR, Zoltan",HUN,Men,74 - 84kg,M,Silver
29208,Beijing,2008,Wrestling,Wrestling Gre-R,"MAMBETOV, Asset",KAZ,Men,84 - 96kg,M,Bronze
29209,Beijing,2008,Wrestling,Wrestling Gre-R,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [37]:
noc = pd.read_csv("noc.csv")

In [40]:
noc[noc.Country != noc["Country.1"]]

Empty DataFrame
Columns: [Country, Int Olympic Committee code, ISO code, Country.1]
Index: []

In [42]:
noc.set_index("Int Olympic Committee code", inplace=True)

In [43]:
medal_2008 = lo.NOC.value_counts()

In [45]:
noc['medal_2008'] = medal_2008

In [46]:
noc.head()

,Country,ISO code,Country.1,medal_2008
Int Olympic Committee code,,,,
AFG,Afghanistan,AF,Afghanistan,1.0
ALB,Albania,AL,Albania,NaN
ALG,Algeria,DZ,Algeria,2.0
ASA,American Samoa*,AS,American Samoa*,NaN
AND,Andorra,AD,Andorra,NaN